{% ckan_extends %}

{% block info_module %}
  <section class="module module-narrow module-shallow">

    {# Change the text of the sidebar header #}
    <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Package metadata') }}</h2>

    <div class="module-content">

      {# Change the texts of the help paragraphs here. #}
      <p>{% trans %}
          On this page you enter some metadata about your data package.
          This metadata will be shown on the package's web page, and will be
          in the <code>datapackage.json</code> file in the package's downloadable
          <abbr class="initialism">ZIP</abbr> file.
      {% endtrans %}</p>
      <p>{% trans %}
          On the next page, you can start uploading the <abbr class="initialism">CSV</abbr>
          files for your package.
      {% endtrans %}</p>
    </div>
  </section>
{% endblock %}
