{% extends "package/base.html" %}

{% block subtitle %}Schema{% endblock %}

{% set resource = h.get_resource_by_id(c.resource_id) %}

{% block breadcrumb_content %}
  {{ h.build_nav('user_datasets', c.userobj.display_name|truncate(35),
                id=c.userobj.name) }}

  <li>{% link_for c.package_id|truncate(20), controller='package', action='read', id=c.package_id %}</li>
  <li>{% link_for resource.name|truncate(20), controller='package', action='resource_read', id=c.package_id, resource_id=c.resource_id %}</li>
  <li class="active">schema</li>
{% endblock %}

{% block primary_content %}
  <h2>JSON Table Schema for {{ resource.name }}</h2>
  {% snippet 'package/snippets/resource_schema.html', resource_id=c.resource_id %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/resource_schema_list.html', resource_id=c.resource_id, package_id=c.package_id %}
{% endblock %}
