{% ckan_extends %}

{# Change "resources" and "resource" to "files" and "file" in this block.
   This is just a word change not capitalization, so it could be done in a
   translation instead of a template block override. #}
{% block content_action %}
  {% link_for _('All files'), controller='package', action='resources', id=pkg.name, class_='btn', icon='arrow-left' %}
  {% if res %}
    {% link_for _('View file'), controller='package', action='resource_read', id=pkg.name, resource_id=res.id, class_='btn', icon='eye-open' %}
  {% endif %}
{% endblock %}

{# Change 'Edit resource' to 'Edit file', could be done in translation. #}
{% block content_primary_nav %}
  {{ h.build_nav_icon('resource_edit', _('Edit file'), id=pkg.name, resource_id=res.id) }}
  {% if 'datapusher' in g.plugins %}
    {{ h.build_nav_icon('resource_data', _('DataStore'), id=pkg.name, resource_id=res.id) }}
  {% endif %}
{% endblock %}

{# Change 'Edit resource' to 'Edit file', could be done in translation. #}
{% block primary_content_inner %}
  <h1 class="hide-heading">{% block form_title %}{{ _('Edit file') }}{% endblock %}</h1>
  {% block form %}{% endblock %}
{% endblock %}
