{% ckan_extends %}

{% block resource %}
  <div class="module-content">
    <div class="actions">
      {% block resource_actions %}
           {{ super() }}
      {% endblock %}
    </div>

    {% block resource_content %}
      <h1 class="page-heading dropdown">
        {% set show_list = c.pkg_dict.resources|length > 1 %}

        <a class="dropdown-toggle" data-toggle="dropdown">
          {{ h.resource_display_name(res) | truncate(50) }}
          {% if show_list %}
            <b class="caret"></b>
          {% endif %}
        </a>

        {# If the package has multiple resources, add a drop-down list to the
           header for quickly switching between resource pages. #}
        {% if show_list %}
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li class="dropdown-heading">{{ _("Other files in this package") }}</li>
            {% for resource in c.pkg_dict.resources %}
              {% if resource.id != res.id %}
                <li>
                  <a href="{{ h.url_for(controller='package', action='resource_read', id=pkg.id, resource_id=resource.id) }}">
                    <span>{{ h.resource_display_name(resource) | truncate(50) }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </h1>

      {# Hide the resource URL, it's not necessary we already have a download
        button. #}
      {% block resource_read_url %}{% endblock %}

      {# Note this div is not closed within this block! Looks like a bug in the
        CKAN core template. #}
      <div class="prose notes" property="rdfs:label">
        {% if res.description %}
          {{ h.render_markdown(res.description) }}
        {% endif %}
        {# We also removed the "From the dataset abstract" section here
          (if the resource itself doesn't have a description, CKAN shows the notes
          from the dataset). #}
    {% endblock %}
      </div>
    </div>

    {# Override CKAN's default data preview, replace it with our own snippet.
    #}
    {% block data_preview %}
      {% set selected_row = request.urlvars.get('index', 0)|int %}
      {% snippet 'snippets/datapackager_csv.html', selected_row=selected_row, resource=c.resource, package_id=c.id %}
    {% endblock %}
{% endblock %}

{% block resource_actions_inner %}

  {# Edit button. #}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Edit'), controller='ckanext.datapackager.controllers.package:DataPackagerPackageController', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='edit' %}</li>
  {% endif %}

  {# The Download button. #}
  {% if res.url %}
    <li>
      <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
        {% if res.resource_type in ('listing', 'service') %}
          <i class="icon-eye-open"></i> {{ _('View') }}
        {% elif  res.resource_type == 'api' %}
          <i class="icon-key"></i> {{ _('API Endpoint') }}
        {% elif not res.can_be_previewed %}
          <i class="icon-download"></i> {{ _('Download') }}
        {% else %}
          <i class="icon-download"></i> {{ _('Download') }}
        {% endif %}
      </a>
    </li>
  {% endif %}

  {# A share button with a dropdown menu of sharing options. #}
  <li class="dropdown">
    <a class="btn no-text dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-share"></i><span>{{ _('Share this page') }}</span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% set current_url = h.full_current_url() %}
        <li class="dropdown-heading">{{ _("Share this page") }}</li>
        <li><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="icon-google-plus-sign"></i> Google+</a></li>
        <li><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="icon-twitter-sign"></i> Twitter</a></li>
        <li><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="icon-facebook-sign"></i> Facebook</a></li>
    </ul>
  </li>

  {% if 'datastore' in g.plugins %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
  {% endif %}
{% endblock %}



{% block resource_additional_information %}
  {% if res %}
      {% snippet 'package/snippets/keys.html', pkg=pkg, res=res %}

      <div class="module-content">

        {# Change the title from 'Additional Information'. #}
        {# FIXME: Format, modified and licenses are 'recommended' data package
           fields.  Should we promoted these in the UI, rather than putting
           them under additional fields? #}
        <h2>{{ _('File metadata') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
          <thead>
            <tr>
              <th scope="col">{{ _('Field') }}</th>
              <th scope="col">{{ _('Value') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ _('Last updated') }}</th>
              <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Created') }}</th>
              <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('Format') }}</th>
              <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
            </tr>
            <tr>
              <th scope="row">{{ _('License') }}</th>
              <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
            </tr>
            {# We removed the 'Show more' section here that shows various
              internal id and state fields. #}
          </tbody>
        </table>
      </div>
  {% endif %}
{% endblock %}

{# We override block primary from page.html because we don't want the
   <div class="primary"> on this page (it causes the "File metadata" section
   to get pushed along to the right, which looks wrong because we don't have
   the sidebar on the left on this page. #}
{% block primary %}
    {% block primary_content %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{# Get rid of the page sidebar. #}
{% block secondary %}
{% endblock %}
