{% extends 'package/base_form_page.html' %}

{% block subtitle %}{{ _('Import Data Package') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), controller='dataset', action='search' %}</li>
  <li class="active"><a href="">{{ _('Import Data Package') }}</a></li></a></li>
{% endblock %}

{% block info_module %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are Data Packages?') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}
        A <a href="https://frictionlessdata.io/data-packages/">Data Package</a> is
        a simple container format used to describe and package a collection of data.
        {% endtrans %}
      </p>

      <p>
        {% trans %}You can import Data Packages to create CKAN datasets. The options supported are:{% endtrans %}
      </p>
        <ul>
            <li>{% trans %}Upload or link to a Data Package descriptor (<i>datapackage.json</i> file) that references data files hosted elsewhere.{% endtrans %}</li>


            <li>{% trans %}Upload a zipped Data Package that includes the data files, plus a Data Package descriptor (<i>datapackage.json</i> file) in the root of the ZIP file.{% endtrans %}</li>
        </ul>

    </div>
  </section>
{% endblock %}

{% block form %}
  {% snippet 'datapackage/snippets/import_datapackage_form.html', data=data, errors=errors, error_summary=error_summary %}
{% endblock %}
