.stages li {
  width: 50%;
}
.btn.no-text [class^="icon-"] {
  margin-right: 0;
}
.btn.no-text span {
  display: none;
}
.page-heading.dropdown a {
  color: #444444;
}
.page-heading.dropdown a .caret {
  border-top-color: #444444;
  margin-top: 21px;
  margin-left: 5px;
  border-width: 6px;
}
.page-heading.dropdown .dropdown-menu {
  font-size: 14px;
}
.actions {
  right: 25px;
  top: 30px;
}
.panel {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;
}
.data.panel .meta {
  width: 263px;
  position: absolute;
  top: 0;
  left: -270px;
  bottom: 0;
  overflow: auto;
  background-color: #fafafa;
  border-right: solid 7px #00617f;
}
.data.panel:hover .meta,
.data.panel.active .meta {
  left: 0;
}
.data.panel .meta .module-heading {
  padding-top: 15px;
  padding-bottom: 15px;
}
.data.panel .meta .dl-horizontal {
  margin: 0;
}
.data.panel .meta .dl-horizontal dt {
  width: 50%;
  padding: 5px 10px 5px 25px;
  text-align: left;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
}
.data.panel .meta .dl-horizontal dt:after {
  content: ':';
}
.data.panel .meta .dl-horizontal dd {
  margin-left: 50%;
  padding: 5px 25px 5px 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
}
.data.panel .meta .close {
  position: absolute;
  top: 12px;
  right: 14px;
}
.data.panel .meta .close span {
}
.data.panel.active .meta .close {
  display: block;
}
.data.panel table {
  margin-bottom: 0;
  width: auto;
  min-width: 100%;
}
.data.panel .table tr:first-of-type th,
.data.panel .table tr:first-of-type td {
  border-color: #fff;
}
.data.panel table th {
  white-space: nowrap;
}
.data.panel:hover table,
.data.panel.active table {
  margin-left: 270px;
}
.data.panel.active tr.active th,
.data.panel.active tr.active td {
  border-color: #00617f;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-top: 7px;
  padding-bottom: 7px;
}
.data.panel.active tr.active th {
  background-color: #00617f;
}
.data.panel.active tr.active th a,
.data.panel.active tr.active th button {
  color: #fff;
  text-decoration: none;
}
.data.panel tr th button {
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.js .tab-content {
  display: block;
}
ul.dropdown-menu li {
  display: inline;
  margin: 0;
}
.dropdown-menu .dropdown-heading {
  background-color: #F5F5F5;
  border-bottom: 1px solid #DDDDDD;
  padding: 8px 15px;
  margin:-5px 0 5px 0;
  font-weight:bold;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  min-width: 160px;
}
.ckanext-datapreview legend {
  margin-bottom: 0;
}
.ckanext-datapreview .editor-row {
  padding: 5px 0 5px 25px;
  width: 100%;
}
.ckanext-datapreview label,
.ckanext-datapreview input,
.ckanext-datapreview select {
  padding-top: 5px;
}
.ckanext-datapreview label {
  float: left;
  width: 30%;
  padding-left: 25px;
  padding-right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ckanext-datapreview .controls {
  float: left;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ckanext-datapreview input,
.ckanext-datapreview select,
.ckanext-datapreview .error-block {
  width: 130px;
}
.ckanext-datapreview select {
  width: 124px;
}
.ckanext-datapreview .error-block {
  padding-right: 6px;
}
.ckanext-datapreview hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  clear: both;
}
.ckanext-datapreview .new_attr {
  padding: 5px;
}
.ckanext-datapreview .new_attr input {
  width: 80px;
}
.warning-block {
  color: #B55457 !important;
}
