{% ckan_extends %}

{% block primary_content %}
<div class="hero" role="main">
  <div class="container">
    <div class="row row-1">
      <div class="span12 col-1">
        <div class="module-content box">
          <header>
            <h1 class="page-heading">
              Welcome to the Open Knowledge Data Packager!
            </h1>

            <p class="lead">
              The Data Packager is a web app for creating and publishing
              <a href="http://dataprotocols.org/tabular-data-package/">Tabular Data Packages</a>.
            </p>

            <p class="lead">
            {% if c.user %}
              <a class="btn btn-success" href="{% url_for controller='package', action='new' %}">Add new package</a>
              {% if h.get_user_package_count(c.user) > 0 %}
                or
                <a class="btn btn-success" href="{% url_for controller='user', action='dashboard' %}">See your packages</a>
              {% endif %}
            {% else %}
              <a class="btn btn-success" href="{% url_for controller='user', action='login' %}">Login</a>
              or <a class="btn btn-success" href="{% url_for controller='user', action='register' %}">Register</a>
              to start creating data packages.
            {% endif %}
            </p>

            <p>For features and documentation, see the
            <a href="{% url_for 'about' %}">About</a>
            and
            <a href="{% url_for 'api' %}">API</a>
            pages.</p>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
