{% import 'macros/form.html' as form %}
{% block basic_fields_url %}
  {% set is_upload = (data.url_type == 'upload') %}
  {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload', is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload, upload_label=_('File'), url_label=_('URL')) }}
{% endblock %}

{% extends 'package/snippets/package_basic_fields.html' %}

{% block package_basic_fields_title %}
{% endblock %}

{% block package_basic_fields_url %}
{% endblock %}

{% block package_basic_fields_description %}
{% endblock %}

{% block package_basic_fields_tags %}
{% endblock %}

{% block package_basic_fields_license %}
{% endblock %}
