{% ckan_extends %}

{% block primary_content %}
<div class="hero" role="main">
  <div class="container">
    <div class="row row-1">
      <div class="span12 col-1">
        <div class="module-content box">
          <header>
            <h1 class="page-heading">Welcome to the B2 Metadata Generator!</h1>
            <p class="lead">This is a site that lets you upload some
            <abbr class="initialism">CSV</abbr> files, enter some metadata for
            them, and then publish your "data package" as a downloadable
            <abbr class="initialism">ZIP</abbr> file containing your
            <abbr class="initialism">CSV</abbr> files and a
            <code>datapackage.json</code> file with your metadata in it.</p>
            <p class="lead">
              <a class="btn btn-success" href="{% url_for controller='user', action='login' %}">
                Login
              </a>
              or
              <a class="btn btn-success" href="{% url_for controller='user', action='register' %}">
                Register
              </a>
              to start creating data packages.
            </p>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
