{% ckan_extends %}

{% block form_actions %}
  <div class="form-actions">
    {# Get rid of the "By submitting content, you agree to release your
       contributions under the Open Database License" disclaimer. #}
      {% block disclaimer %}{% endblock %}


      {% block delete_button %}
        {{ super() }}
      {% endblock %}

      {# We've changed the text on this button. #}
      <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Next: Add CSV files') }}{% endblock %}</button>
  </div>
{% endblock %}
