{#

There's no blocks in the core template file here, so we just override
the whole thing. All we've changed is the texts on the stage labels.

#}

{% set s1 = stages[0] or 'active' %}
{% set s2 = stages[1] or 'uncomplete' %}
{% if s1 != 'uncomplete' %}{% set class = 'stage-1' %}{% endif %}
{% if s2 != 'uncomplete' %}{% set class = 'stage-2' %}{% endif %}

<ol class="stages {{ class }}">
  <li class="first {{ s1 }}">
    {% if s1 != 'complete' %}
      <span class="highlight">{{ _('Package metadata') }}</span>
    {% else %}
      <button class="highlight" name="save" value="go-dataset" type="submit">{{ _('Create package') }}</button>
    {% endif %}
  </li>
  <li class="middle {{ s2 }}">
    {% if s2 != 'complete' %}
      <span class="highlight">{{ _('Add CSV files') }}</span>
    {% else %}
      {% if s1 == 'active' %}
        {# stage 1 #}
        <button class="highlight" name="save" value="go-resources" type="submit">{{ _('Add files') }}</button>
      {% else %}
        {% link_for _('Add files'), controller='package', action='new', class_="highlight" %}
      {% endif %}
    {% endif %}
  </li>
</ol>
