{% ckan_extends %}

{# This is just a word change not a capitalization change, so it could be done
   in a translation. #}
{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_edit', _('Package metadata'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_resources', _('Data files'), id=pkg.name) }}
{% endblock %}

{# This is just a word change not a capitalization change, so it could be done
   in a translation. #}
{% block content_action %}
  {% link_for _('View package'), controller='package', action='read', id=pkg.name, class_='btn', icon='eye-open' %}
{% endblock %}
