{# Render a preview of a CSV file and its metadata.

Parameters:

selected_column - index of the row to be rendered as selected
resource - the resource that the CSV file belongs to
package_id - the ID of the package that the CSV file belongs to
for_edit - should be true if this snippet is being used on the resource edit
    form, false otherwise (optional, default: false)
schema_fields - the resource's current schema fields, to be pre-filled in the
    form fields
schema_errors -

#}

{# schema_fields is passed when the resource_edit() controller action calls
   this template, but is undefined when resource_read() calls it. So define
   it by calling a helper function.
   This is hacky the template should be refactored or maybe split into two.
#}
{% if not schema_fields %}
  {% set schema_fields = h.get_resource_schema(resource.id)['fields'] %}
{% endif %}
<div class="module-content ckanext-datapreview">
  {% set csv_data = h.datapackager_csv_data(resource) %}
  {% if csv_data.success == true %}
    {% set data = csv_data.data %}
    <div class="data panel active">
      <div class="meta tab-content">
          <div class="tab-pane active">

            {% if for_edit %}
              {# This is the metadata editor, shown on the resource edit
                 form.#}
              {% for row in data %}
                {% set row_number = loop.index0 %}
                {% set schema_field = schema_fields[row_number] %}
                {% set field_errors = schema_errors[row_number] %}
                <fieldset name="Metadata for {{ schema_field['name'] }}"
                          {% if selected_column == loop.index0 %}class="active"{% endif %}>
                  <legend name="Metadata for {{ schema_field['name'] }}">
                    <h2 class="module-heading">
                      <i class="icon-copy"></i>
                      Metadata for {{ schema_field['name'] }}
                    </h2>
                  </legend>

                  {# Index isn't meant to be editable by the user (it's an
                     internal implementation detail) so it's a hidden field. #}
                  <input type="hidden" name="schema-{{ row_number }}-index"
                         value="{{ schema_field['index'] }}" />

                  {% for key in schema_field if key not in ('index',
                                                            '__new_attr') %}

                    <label for="schema-{{ row_number }}-{{ key }}">{{ key }}</label>

                    <div class="controls">
                      {% if key == 'type' %}
                        <select id="schema-{{ row_number }}-{{ key }}"
                          name="schema-{{ row_number }}-{{ key }}">
                          {% for type in ('string', 'number', 'integer',
                                          'date', 'time', 'datetime',
                                          'boolean', 'binary', 'object',
                                          'geopoint', 'geojson', 'array',
                                          'any') %}
                            <option value="{{ type }}"
                                    {% if type == schema_field.type %}
                                      selected
                                    {% endif %}>
                              {{ type }}
                            </option>
                          {% endfor %}
                        </select>
                      {% else %}
                        <input id="schema-{{ row_number }}-{{ key }}"
                              name="schema-{{ row_number }}-{{ key }}"
                              type=text
                              value="{{ schema_field[key] }}"/>
                      {% endif %}

                      {% if key not in ('name', 'type') %}
                        <button class="btn btn-danger btn-mini"
                                title="Delete attribute '{{ key }}' from column '{{ schema_field['name'] }}'"
                                type="submit"
                                name="delete-attr"
                                value="schema-{{ row_number }}-{{ key }}">
                          <i class="icon-remove"></i>
                        </button>
                      {% endif %}

                      {% if field_errors[key] %}
                        <span class="error-block">
                          {{ field_errors[key] }}
                        </span>
                      {% endif %}
                    </div>
                    <hr/>
                  {% endfor %}

                  <div class="new_attr">
                    <p>{{ _('Add a new attribute to this column:') }}</p>
                    <input id="schema-{{ row_number }}-__new_attr_key"
                           name="schema-{{ row_number }}-__new_attr_key"
                           type=text
                           value="{{ schema_field.__new_attr.key }}"
                           placeholder="Key" />
                    <input id="schema-{{ row_number }}-__new_attr_value"
                           name="schema-{{ row_number }}-__new_attr_value"
                           type=text
                           value="{{ schema_field.__new_attr.value }}"
                           placeholder="Value" />
                    <button class="btn" type="submit"
                            name="add-new-attr"
                            value="{{ row_number }}">
                      <i class="icon-plus"></i>
                    </button>
                  </div>

                </fieldset>
              {% endfor %}

            {% else %}

              {# This is the metadata viewer, shown on the resource read page.
              #}
              {% set metadata = h.resource_schema_field_show(resource.id, selected_column) %}
              <h2 class="module-heading">
                <i class="icon-copy"></i>
                Metadata for {{ metadata['name'] }}
              </h2>
              <dl class="dl-horizontal">
                  {% for key in metadata %}
                      <dt>{{ key }}</dt>
                      <dd>{{ metadata[key] }}</dd>
                  {% endfor %}
              </dl>

            {% endif %}
          </div>
      </div>
      <table class="table">
          <tbody id="dataTable">
              {% for row in data %}
              {% set schema_field = schema_fields[loop.index0] %}
              <tr {% if selected_column == loop.index0 %}class="active"{% endif %}>
                      {% if for_edit %}
                        {% set controller = 'ckanext.datapackager.controllers.package:DataPackagerPackageController' %}
                        {% set action = 'resource_edit' %}
                      {% else %}
                        {% set controller = 'package' %}
                        {% set action = 'resource_read' %}
                      {% endif %}
                      {% set index = loop.index0 %}
                      {% set link = h.url_for(controller=controller,
                                              id=package_id,
                                              action=action,
                                              resource_id=resource.id,
                                              index=index) %}

                      {% for col in row %}
                          {% if loop.first %}
                              <th>
                                {% if for_edit %}
                                  <button type="submit" href="{{ link }}"
                                          class="btn-link"
                                          name="go-to-column-{{ index }}"
                                          value="{{ index }}">
                                    {{ schema_field['name'] }}
                                  </button>
                                {% else %}
                                  <a href="{{ link }}">{{ schema_field['name'] }}</a>
                                {% endif %}
                              </th>
                          {% else %}
                              <td>{{ col }}</td>
                          {% endif %}
                      {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  {% else %}
    {{ _('Error:') }} {{ csv_data.error }}
  {% endif %}
</div>
