{# Render a preview of a CSV file and its metadata.

Parameters:

selected_row - index of the row to be rendered as selected
resource - the resource that the CSV file belongs to
package_id - the ID of the package that the CSV file belongs to
for_edit - should be true if this snippet is being used on the resource edit
           form, false otherwise (optional, default: false)

#}
<div class="module-content ckanext-datapreview">
  {% set csv_data = h.datapackager_csv_data(resource) %}
  {% if csv_data.success == true %}
    {% set data = csv_data.data %}
    <div class="data panel active">
      <div class="meta tab-content">
          <div class="tab-pane active">

            {% if for_edit %}
              {# This is the metadata editor, shown on the resource edit
                 form.#}
              {% for row in data %}
                {% set row_number = loop.index0 %}
                {% set metadata = h.resource_schema_field_show(resource.id, row_number) %}
                <fieldset name="Metadata for {{ data[row_number][0] }}" {% if selected_row != loop.index0 %}style="display:none;"{% endif %}>
                  <legend name="Metadata for {{ data[row_number][0] }}">
                    <h2 class="module-heading">
                      <i class="icon-copy"></i>
                      Metadata for {{ data[row_number][0] }}
                    </h2>
                  </legend>
                  {% for key in metadata %}
                    <label for="schema-{{ row_number }}-{{ key }}">{{ key }}</label>
                    <input id="schema-{{ row_number }}-{{ key }}"
                           name="schema-{{ row_number }}-{{ key }}"
                           type=text
                           value="{{ metadata[key] }}"/>
                    <hr/>
                  {% endfor %}
                </fieldset>
              {% endfor %}

            {% else %}

              {# This is the metadata viewer, shown on the resource read page.
              #}
              {% set metadata = h.resource_schema_field_show(resource.id, selected_row) %}
              <h2 class="module-heading">
                <i class="icon-copy"></i>
                Metadata for {{ data[selected_row][0] }}
              </h2>
              <dl class="dl-horizontal">
                  {% for key in metadata %}
                      <dt>{{ key }}</dt>
                      <dd>{{ metadata[key] }}</dd>
                  {% endfor %}
              </dl>

            {% endif %}
          </div>
      </div>
      <table class="table">
          <tbody id="dataTable">
              {% for row in data %}
              <tr {% if selected_row == loop.index0 %}class="active"{% endif %}>
                      {% if for_edit %}
                        {% set controller = 'ckanext.datapackager.controllers.package:DataPackagerPackageController' %}
                        {% set action = 'resource_edit' %}
                      {% else %}
                        {% set controller = 'package' %}
                        {% set action = 'resource_read' %}
                      {% endif %}
                      {% set link = h.url_for(controller=controller, id=package_id, action=action, resource_id=resource.id, index=loop.index0) %}

                      {% for col in row %}
                          {% if loop.first %}
                              <th><a href="{{ link }}">{{ col }}</a></th>
                          {% else %}
                              <td>{{ col }}</td>
                          {% endif %}
                      {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  {% else %}
    {{ _('Error:') }} {{ csv_data.error }}
  {% endif %}
</div>
