{# We override this whole template just to change the title from "Resources" to
   "Files in this package", could probably be better done in an extension. #}

{% set resources = pkg.resources or [] %}
{% if resources %}
  <section class="module module-narrow resources">
    <h2 class="module-heading"><i class="icon-copy"></i> {{ _("Files in this package") }}</h2>
    <ul class="unstyled nav nav-simple">
      {% for resource in resources %}
        <li class="nav-item{{ ' active' if active == resource.id }}">
          {% link_for h.resource_display_name(resource)|truncate(25), controller='package', action=action or 'resource_read', id=pkg.name, resource_id=resource.id, inner_span=true %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
