{% extends 'dataviewer/base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ h.url_for_static('/css/bootstrap.min.css') }}" />
{% endblock %}

{% block page %}
{% if c.csv_error %}
  {{ c.csv_error }}
{% endif %}
<table class=table>
{% for row in c.csv_preview_data %}
  <tr>
    {% for col in row %}
      {% if loop.first %}
      <th>{{ col }}</th>
      {% else %}
      <td>{{ col }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}
