{% extends 'dataviewer/base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ h.url_for_static('/css/bootstrap.min.css') }}" />
{% endblock %}

{% block page %}
{% if c.csv_error %}
  {{ c.csv_error }}
{% endif %}
<table class=table>
{% for row in c.csv_preview_data %}
  <tr>
    {% for col in row %}
      {% if loop.first %}
      <th>
        {% if h.check_access('package_update', {'id':c.package.id }) %}
          <a href="{% url_for controller='ckanext.datapackager.controllers.package:DataPackagerPackageController', action='edit_metadata_field', index=loop.index0, resource_id=c.resource.id, package_id=c.package.name %}" target="_top">{{col}}</a>
        {% else %}
          {{col}}
        {% endif %}
        </th>
      {% else %}
      <td>{{ col }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}
