{% ckan_extends %}

{% block subtitle %}{{ user.display_name }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('user_datasets', user.display_name|truncate(35), id=user.name) }}
{% endblock %}

{% block content_action %}
  {% if h.check_access('user_update', user) %}
    {% link_for _('Account settings'), controller='user', action='edit', id=user.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('user_datasets', _('Datasets'), id=user.name) }}
{% endblock %}

{% block secondary_content %}
<div class="module context-info">
  <section class="module-content">
    {% block secondary_content_inner %}
      <div class="image">{{ h.linked_gravatar(user.email_hash, 190) }}</div>
      <h1 class="heading">{{ user.display_name }}</h1>
      <div class="info">
        <dl>
          {% if user.name.startswith('http://') or user.name.startswith('https://') %}
            <dt>{{ _('Open ID') }}</dt>
            <dd>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
          {% else %}
            <dt>{{ _('Username') }}</dt>
            <dd>{{ user.name }}</dd>
          {% endif %}
        </dl>
        {% if c.is_myself %}
          <dl>
            <dt>{{ _('Email') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd>{{ user.email }}</dd>
          </dl>
        {% endif %}
        {% if c.is_myself %}
          <dl>
            <dt class="key">{{ _('API Key') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd class="value"><code>{{ user.apikey }}</code></dd>
          </dl>
        {% endif %}
      </div>
    {% endblock %}
  </section>
</div>
{% endblock %}
